
/* CLF 2.0 TEMPLATE VERSION 1.04 | VERSION 1.04 DU GABARIT NSI 2.0 */
/* GENERAL CSS BEGINS | DEBUT DU CSS GENERAL */
body 		  { background-color: #5f5f5f; }
div.colLayout { background-color: #FFF; height: 100%; }
img { border: none; }
/* GENERAL CSS ENDS | FIN DU CSS GENERAL */

/* FIP HEADER CSS BEGINS | DEBUT DU CSS DE L'EN-TETE PCIM */
div.fip, div.cwm	{ height: 20px; }
div.cwm img 			{ padding-top: 0px; }
/* FIP HEADER CSS ENDS | FIN DU CSS DE L'EN-TETE PCIM */

/* INSTITUTIONAL BANNER CSS BEGINS | DEBUT DU CSS DE LA BANNIERE INSTITUTIONNELLE */
div.banner, div.banner-eng, div.banner-fra, div.banner-lfcoa-eng, div.banner-lfcoa-fra {
	padding-top: 3.14em;
	margin-top: 0em;	
}

div.banner { color: #FFF;	}
/* INSTITUTIONAL BANNER CSS ENDS | FIN DU CSS DE LA BANNIERE INSTITUTIONNELLE */

/* COMMON MENU BAR CSS BEGINS | DEBUT DU CSS DE LA BARRE DE MENU COMMUNE */
div.fp { border-top: 1px solid #FFF; }
/* COMMON MENU BAR CSS ENDS | FIN DU CSS DE LA BARRE DE MENU COMMUNE */

/* BREAD CRUMB CSS BEGINS | DEBUT DU CSS DE LA PISTE DE NAVIGATION */
p.breadcrumb 			{ font-size: 8.5px; padding: 2px 0px 3px 0px; }
p.breadcrumb a 			{ text-decoration:none; color:#000; }
p.breadcrumb a:hover	{ text-decoration:underline; }
/* BREAD CRUMB CSS ENDS | FIN DU CSS DE LA PISTE DE NAVIGATION */

/* SKIP NAVIGATION CSS BEGINS | DEBUT DU CSS DU SAUT DE NAVIGATION */
div.page div.core div.navaid {
	width: 450px;
	padding-left: 50px;
}
* html div.page div.core div.navaid {
	width: 450px;
	padding-left: 50px;
}
*:first-child+html div.page div.core div.navaid {
	width: 450px;
	padding-left: 50px;
}
div.page div.core div.navaid a:hover,
div.page div.core div.navaid a:active,
div.page div.core div.navaid a:focus {
	color: #000;
	background-color: #CC9;
	border-color: #000;
}
/* SKIP NAVIGATION CSS ENDS | FIN DU CSS DU SAUT DE NAVIGATION */

/***********START NEW************************************/

/* GENERAL NAVIGATION CSS BEGINS | DEBUT DU CSS DE NAVIGATION GENERALE */
div.left h2.nav, div.left h2.nav a:link, div.left h2.nav a:visited, div.left div.h2nav, div.left div.h2nav a:link, div.left div.h2nav a:visited, div.left p.h2nav, div.left p.h2nav a:link, div.left p.h2nav a:visited, div.right h2.nav, div.right h2.nav a:link, div.right h2.nav a:visited, div.right div.h2nav, div.right div.h2nav a:link, div.right div.h2nav a:visited, div.right p.h2nav, div.right p.h2nav a:link, div.right p.h2nav a:visited {
	background-color: #9BC;
	color: #FFF;
	text-decoration: none;
}

div.right h2.nav, div.right h2.nav a:link, div.right h2.nav a:visited, div.right div.h2nav, div.right div.h2nav a:link, div.right div.h2nav a:visited, div.right p.h2nav, div.right p.h2nav a:link, div.right p.h2nav a:visited {
	background-color: #069;
}

/* GENERAL NAVIGATION CSS ENDS | FIN DU CSS DE NAVIGATION GENERALE */

/* SIDE MENU CSS BEGINS | DEBUT DU CSS DU MENU LATERAL */
div ul.nav ul.nav 				{ margin:0px 0px 8px 0px; }
div.left ul.nav ul.nav		{ width:146px; }
div.right ul.nav ul.nav 	{ width:191px; }
div#temp div.right ul.nav ul.nav 	{ width:146px; }

div ul.nav ul.nav2 				{ margin: 0px 0px 0px 0px; padding: 0px; list-style-type: none; }
div.left ul.nav ul.nav2		{ width: 142px; }
div.right ul.nav ul.nav2	{ width: 187px; }
div#temp div.right ul.nav ul.nav2		{ width: 142px; }

div ul.nav li, ul.nav2 li { padding:0px; margin:0px; }

div.left h2.nav, div.left div.h2nav, div.left p.h2nav 	 { padding: 1px 2px; width:146px; }
div.right h2.nav, div.right div.h2nav, div.right p.h2nav { padding: 1px 2px; width:191px; }
div#temp div.right h2.nav, div.right div.h2nav, div.right p.h2nav { width:146px; }

div ul.nav li div.menucontent 			{ margin:0px 0px 8px 0px; }
div.left 	ul.nav li div.menucontent	{ background: #069; width:146px; padding:0px; }
div.right ul.nav li div.menucontent { background: #9BC; width:191px; padding:2px; }
div#temp div.right ul.nav li div.menucontent { width:146px; }

div ul.nav ul.nav a.menulink, div ul.nav div.menucontent a.menulink
{
	display:block;
	width:100%;
	color: #FFF;
	font-weight: bold;
	padding:2px 2px 1px 2px;
	margin:0px 0px 0px 0px;
	font-size: 10pt;
}

div.right ul.nav ul.nav a.menulink, div.right ul.nav div.menucontent a.menulink {
	border-top: 1px solid #C7DAE2;
	border-bottom: 1px solid #5992AC;
	background-color: #9BC;
}

div.left ul.nav ul.nav a.menulink, div.left ul.nav div.menucontent a.menulink
{
	border-top: 1px solid #0086C6;
	border-bottom: 1px solid #004566;
	background-color: #069;
}

div ul.nav ul.nav ul.nav2 a.menulink {
	line-height: 115%;
	display:block;
	width:100%;
	color: #000;
	font-weight: normal;
	padding: 1px 2px 1px 4px;
	margin:0px 0px 0px 0px;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
	border-left: 1px solid #c4c4c4;
	background-color: #DDD;
	font-size: 9.5pt;
}

div ul.nav ul.nav a.menulink:hover, div ul.nav div.menucontent a.menulink:hover {
	text-decoration: none;
	background:#036;
	border-top: 1px solid #036;
	border-bottom: 1px solid #036;
}

div ul.nav ul.nav ul.nav2 a.menulink:hover {
	text-decoration: none;
	background:#C4C4C4;
	border-top: 1px solid #c4c4c4;
	border-bottom: 1px solid #c4c4c4;
}

div.prodis { background-color: #9BC; height:1.5em; width:150px; }
/* SIDE MENU CSS ENDS | FIN DU CSS DU MENU LATERAL */

/* CONTENT CSS BEGINS | DEBUT DU CSS DU CONTENU */
h1, .h1Size		{ font-size: 11.5pt; }
h2, .h2Size		{ font-size: 11.5pt; }
h3, .h3Size		{ font-size: 11.5pt; }
h4, .h4Size		{ font-size: 11.0pt; }
h5, .h5Size		{ font-size: 10.0pt; }
h6, .h6Size		{ font-size: 10.0pt; }


div.center h1, h2, h3, h4, h5, h6 {
	color: #069;
}

div.center h1 {
	color:#000;
}

div.center h1, h2
{
border-top: 1px solid #CCC;
border-bottom: 1px solid #CCC;
background-color: #EEE;
padding:2px 0px;		
}

div.center h3
{
border-bottom: 1px solid #CCC;
}

div.center h6
{
	font-weight: normal;
	font-style:italic
}

div.center a:link {
	color: #069;
}
div.center a:visited {
	color: #036;
}
div.blackborder {
	border: solid #000 1px;
	padding-bottom:0px;
}
div.blackborder:after {
	content: ""; 
	display: block; 
	height: 0; 
	clear: left;
	visibility: hidden;
}

div#subjectHeader
{
	font-weight: bold;
	font-size: 12.5pt;
	padding: 3px 2px 2px 4px;
	background-color:#069;
	color: #FFF;
}

#tools 			{ padding: 3px 1px 4px 2px; font-size: 9.0pt; margin-top: 0px; vertical-align:bottom; text-align: right;  }
#tools a 		{ text-decoration: none; color: #069; }
#tools a:hover	{text-decoration: underline; }
#tools img 		{ margin: 0px 1px;}

/* CONTENT CSS ENDS | FIN DU CSS DU CONTENU */

/* FOOTER CSS BEGINS | DEBUT DU CSS DU PIED DE LA PAGE */
div.footer {
	margin-top: 0px;
	border-top: solid #FFF 5px;
}

div.footer div.footerline {
	background-color: #9BC;
}
div.footer a:link, div.footer a:visited, div.center div.footer a:link, div.center div.footer a:visited, div.center div.topPage a:link, div.center div.topPage a:visited, div.center p.topPage a:link, div.center p.topPage a:visited {
	color: #069;
	background-color: #FFF;
}

div.topPage, p.topPage { float:none; text-align:right; }
div.topPage a, p.topPage a { text-decoration:none;}
div.topPage a:hover, p.topPage a:hover { text-decoration:underline}

div.topPage img, p.topPage img {	width: 12px; height: 12px;  vertical-align:middle; padding-right:3px}

/* FOOTER CSS ENDS | FIN DU CSS DU PIED DE LA PAGE */

td { vertical-align: top; text-align: left; }
th { vertical-align: top; text-align: center; font-weight: bold; }

a:active, a:focus 	{ cursor: auto; }
abbr, acronym				{ cursor: help; border-bottom:none}
pre									{ font-family: monospace; }
caption 						{ font-weight:bold; text-align:left; padding: 0px 2px 8px 2px; }
sup									{ vertical-align: super; }
sub									{ vertical-align:sub; margin-bottom: 0px; }
hr 									{ color:#000; height: 1px; }
em									{ overflow:visible; }

blockquote
{
	background: #EEE; 
	color: #000;
	padding: 5px 30px;
	margin: 0px;
	border: 1px dashed #999;
}

div.gcinits {padding-bottom:0px;}

div.gcinit div {
	width: 193px;
	margin-bottom: 0px;
}

div.icon-right div.gcinit div {width: 148px;}
div.center div.icon-right div.gcinit div {margin-right: 0px;}

/* LIST UTILITY CSS BEGINS | DEBUT DU CSS D'UTILITE DE LISTE */
ul.arrowBullet		{ list-style-image: url(/images/common/bullet_arrow.gif); }
ul.subjectBullet	{ list-style-image: url(/images/ahc-asc/bullet_subject.gif); }
ul.checkboxBullet	{ list-style-image: url(/images/common/bullet_checkbox.gif); }
ul.checkBullet		{ list-style-image: url(/images/common/bullet_check.gif); }

/* ALIGNMENT UTILITY CSS BEGINS */
.alignJustify		{ text-align: justify; }
.alignMiddle			{ vertical-align: middle; }

/* TEXT UTILITY CSS BEGINS | DEBUT DU CSS D'UTILITE DE TEXTE */
.no-underline		{ text-decoration: none; }
.underline				{ text-decoration: underline; }
.font-inuktitut	{ font-family: Pigiarniq, Prosyl; }
.strong-italic		{ font-style: italic; font-weight: bold; }
.italic					{ font-style: italic; }
.strong					{ font-weight: bold; }

/* FLOATING IMAGES, TABLES, BLOCKS */
.floatNone			{ float: none; }
.image-left			{ border-right:10px solid #fff }
.image-right		{ border-left:10px solid #fff }
.icon-right			{ border-left:10px solid #fff; width:150px; float:right; background-color:#fff}
div.icon-right img, p.icon-right img { margin-bottom:8px}

/* INDENTATION CLASS'S */
.indent10 		{ padding-left: 10px; }
.indent15		{ padding-left: 15px; }
.indent20 		{ padding-left: 20px; }
.indent30 		{ padding-left: 30px; }
.indent40 		{ padding-left: 40px; }
.indent45		{ padding-left: 45px; }
.indent50		{ padding-left: 50px; }
.indent60		{ padding-left: 60px; }
.indentNone 	{ margin-left: 0px; padding-left: 16px;  }
.indentQuote	{ padding-left: 10px; padding-right: 10px; font-style: italic; }
.indentBlock { padding-left: 10px; padding-right: 10px; }

/*COLOUR CLASS'S */
.subjectColour			{ color: #069; background-color: transparent; }
.subjectDarkColour	{ color: #036; background-color: transparent; }
.orange						{ color: #F30; background-color: transparent; }

/*BACKGROUND COLOUR CLASS'S */
.blackBG					{ background-color: #000; color: #FFF; }
.redBG 					{ background-color: #F00; color: #FFF; }
.darkredBG				{ background-color: #C33; color: #FFF; }
.darkredBG2				{ background-color: #990000; color: #FFF; }

.lightgreyBG	{ background-color: #eee; }
.greyBG					{ background-color: #CCC; }
.darkgreyBG			{ background-color: #999; color: #FFF;}
.subjectBG				{ background-color: #069; color: #FFF; }
.lightsubjectBG	{ background-color: #9bc; color: #FFF; }
.darksubjectBG		{ background-color: #036; color: #FFF; }
.deepyellowBG				{ background-color: #FF0; }
.lightyellowBG		{ background-color: #FFC; }

/* DATA LIST CLASS'S */
dt								{ font-weight: bold; }
dl.data-spacing-bottom dd, ul.data-spacing-bottom li, ol.data-spacing-bottom li	{ padding-bottom: 10pt; }
dl.data-spacing dd, ul.data-spacing li, ol.data-spacing li	{ padding-top: 10pt; padding-bottom: 10pt; }
ol.data-spacing-bottom, ul.data-spacing-bottom		{ margin-bottom: -10px;}

.data-spacing-bottom li ul, .data-spacing-bottom li ol { padding-top:10pt; }
.data-spacing li ul, .data-spacing li ol { padding-top:10pt; }

.data-spacing-bottom .data-spacing-none li { padding-bottom: 0pt; }
.data-spacing .data-spacing-none li { padding-top: 0pt; padding-bottom: 0pt; }

/* BORDER CLASS'S */
.borderSolid		{ border: 1px solid #000; padding:1px; }
.borderDashed	{ border: 1px dashed #000; padding: 1px;}
.borderSubject	{ border: 1px solid #069; padding: 1px; }
div.highlight, p.highlight	{ border: 1px dashed #000; background-color:#eee;  }
div.highlight2, p.highlight2	{ background-color:#eee; padding: 4px;}
div.redir, p.redir	{ border: 1px dashed #000; background-color:#ffc; padding: 4px;}
div.highlightFloat, p.highlightFloat	{ 
border: 1px solid #069; 
background-color:#eee; 
width:175px; 
float:right; 
padding:0px 4px; 
margin-left:5px; 
margin-bottom:0px;
padding-top:6px;
}

div.highlightFloat ul, p.highlightFloat	ul{ 
margin-left: 5px; 
padding-left: 16px;
list-style-image:url(/images/ahc-asc/bullet_subject.gif);
margin-bottom:8px;
margin-top:0px
}

div.highlightFloat ol, p.highlightFloat	ol{ 
margin-left: 5px; 
padding-left: 23px;
margin-bottom:8px;
margin-top:0px
}

div.highlightFloat p, p.highlightFloat	p{ 
margin-bottom:6px;
margin-top:0px;
padding-left:3px;
}


/* MULTI-COLUMN CONTAINERS */
div.row 			{margin: 0; padding: 0; width: 98.5%;}
div.row-promotion 	{margin: 0; padding: 0; width: 100%; background-image:url(/images/templates/bg-grey.gif); overflow:auto; margin-bottom:-10px}
div.cols2 			{float: left; width: 49%; margin: 0 3px 0 0; padding: 0;}
div.cols3 			{float: left; width: 32.5%; margin: 0 3px 0 0; padding: 0;}
div.cols4 			{float: left; width: 24%; margin: 0 3px 0 0; padding: 0;}


div.cols-promotion {float: left; width: 19%; padding: 10px 3px; margin:0px; text-align:center; font-size:11px} 
div.cols-promotion a { text-decoration:none; color:#000!important}
h2.promotion { margin-bottom:0px; padding-left:3px;}

.xml
{
	background: #F60;
	color: #FFF;
	border-bottom: 1px solid #3F1A01;
	border-right: 1px solid #7D3302;
	border-left: 1px solid #FFC8A4;
	border-top: 1px solid #FFC8A4;
	font-size: 9.0pt;
	padding: 0px 1px;
}

#emailReport										{ margin-top: 0px; }
#emailReport fieldset						{ padding: 1% 1% 0% 1%; }
#emailReport fieldset p					{ margin: 0em 0em 0.5em 0em; }
#emailReport fieldset textarea	{ height: 100px; }

#close a { text-decoration: none; }

/* FORM TAGS */
legend 		{ font-weight: bold; background: #069; color: #FFF; padding: 2px 4px; margin-bottom:4px}
fieldset 	{ padding: 1%; border: 1px solid #069; margin: 1% 0%; }
textarea	{ height:120px; }

fieldset.subject 				{ background: #EEE url(/images/templates/fieldset-bg.gif) repeat-x; }
form > fieldset.subject { background: #EEE; }

fieldset.subject label
{
	margin-right: 1%;
}

fieldset.subject p.submit
{
	text-align:center;
}

input.subject, p.submit input, #close
{
	background: #069;
	border-right: 2px solid #036;
	border-bottom: 2px solid #036;
	border-top: 2px solid #69C;
	border-left: 2px solid #69C;	
	color: #FFF;
	font-weight: bold;
}

table.subject
{
	border: 1px solid #BBB;
	padding: 0px;
	margin: 0px;
	border-collapse:collapse;
	width:100%;
}

table.subject td, table.subject th
{
	border:  1px solid #BBB;
	padding: 2px;
	margin:  0px;
}

table.subject th
{
	background: #069;
	color: #FFF;
	text-align: left;
}
table.subject td	{ background: #fff; }

table.subject tr.row-odd th, table.subject tr.row-odd td
{
	color: #000;
	background: #EEE;
	font-weight: normal;
}
table.subject tr.row-even th, table.subject tr.row-even td
{
	color: #000;
	background: #E4E4E4;
	font-weight: normal;
}

/* In this topic style */
div.topic {
background-color:#9bc;
padding:0px 15px 5px 0px;
}

div.topic ul {
background-color:#eee;
margin-left:15px;
margin-top:0px;
margin-bottom:10px;
padding:5px 10px 7px 25px;
list-style-image:url(/images/ahc-asc/bullet_subject.gif);
border-top:1px solid #c2c1c1;
border-left:1px solid #c2c1c1;
border-bottom:1px solid #f7f7f7;
border-right:1px solid #f7f7f7;
}

div.topic ul li ul {
margin-bottom:0px;
border:none;
margin-left:0px;
padding:2px 10px 2px 25px;
}

div.topic ul li a 			{ text-decoration:none; }
div.topic ul li a:hover { text-decoration:underline; }

div.topic p {
padding:4px 5px 0px 7px;
color:#fff;
font-size:120%;
font-weight:bold;
margin-bottom:5px;
}

/* publications */
.pub {	width: 100%; margin:15px 0px}

.next, .previous, .toc {
	
	padding: 3px;
	overflow: hidden;
	border:1px solid #9BC;
	text-align:center;
}

.next a, .previous a, .toc a { text-decoration:none;}
.next, .previous, .toc  { color: #999999}
.next a:hover, .previous a:hover, .toc a:hover { text-decoration:underline}

.next {
	float: right;
	width: 31%; /* width of the right sidebar -- can be set to any value including percentages */
	margin-left: 3px;
}

.previous {
	float: left;
	width: 31%; /* witdh of the left sidebar -- can be set to any value including percentages */
	margin-right: 3px;
}

.toc {height: 1%; /* IE6 hack... it's very minor, though */}

/* Icons on reports and pubs index page */
div.icon a {
color:#000!important;
text-decoration:none;
font-size: 7.5pt;
}

div.icon a:hover				{text-decoration:underline; }
div.icon img 					{vertical-align:middle; border-right:5px solid #fff; }
div.icon, div.icon form  { display:inline; vertical-align:middle}
div.icon form p			 		{ display:inline; }
div.highlight div.icon img, div.highlight2 div.icon img {border-right:5px solid #eee; }


/* Right Nav Quick Links */
.quickLinks {
	width: 142px;
	padding: 0px 0px 7px 7px;
	margin-bottom: 10px;
	background-color: #fff;
	color: #333;
	float:right;
	}
	
.quickLinks ul {
		list-style: none;
		margin: 0;
		padding: 0;
		border: none;
}
		
.quickLinks li {margin: 0;}

.quickLinks li a {
		display: block;
		padding: 2px 2px 2px 4px;
		background-color: #DDD;
		color: #000!important;
		text-decoration: none;
		width: 100%;
		border-top: 1px solid #EEE;
		border-bottom: 1px solid #c4c4c4;
		border-right: 1px solid #c4c4c4;
		border-left: 1px solid #c4c4c4;
}

html>body .quickLinks li a {width: auto;}
.quickLinks li a:hover {background-color: #c4c4c4; border-top: 1px solid #c4c4c4;}
.quickLinks p { color:#fff; background-color: #069; margin-bottom:0px; font-weight:bold; padding:3px 4px; width:100%}
.quickLinks li p { color:#fff; background-color: #999; margin-bottom:0px; margin-top:0px; padding:3px 4px; width:100%}
html>body .quickLinks p {width: auto;}

/* index page image*/
.img-header { margin:0px; padding:0px}

/* TEMP FIX */
div.center{ overflow:visible; }

/* clearing in firefox */
.clear:after {
content: ".";
display: block;
height: 0;
visibility: hidden;
}

/* aligning forms without tables */
.labelWidth { width:150px; float:left;}
.inputSpacing { margin-bottom:7px}

/* CLASS SEARCH AND REPLACE 
size-largest		-->			fontSize140
size-larger			-->			fontSize120
size-largest		-->			fontSize110
size-normal			-->			fontSize100
size-small			-->			fontSize90
size-smaller		-->			fontSize85
size-smallest		-->			fontSize75

indent-none				-->		indentNone
indent-quote				-->		indentQuote
indent-block				-->		indentBlock
 
float-right					-->		floatRight
float-left					-->		floatLeft

list-lower-alpha		-->		lower-alpha
list-lower-roman		-->		lower-roman
list-upper-alpha		-->		upper-alpha
list-upper-roman		-->		upper-roman

bullet-none					-->		noBullet
bullet-square				-->		disc
bullet-disc					-->		square
bullet-circle				-->		circle

bullet-arrow				-->		arrowBullet
bullet-subject			-->		subjectBullet
bullet-check				-->		checkBullet
bullet-checkbox			-->		checkboxBullet

align-right					-->		alignRight
align-center				-->		alignCenter
align-left					-->		alignLeft
align-top						-->		alignTop
align-bottom				-->		alignBottom
align-top-right			-->		alignTopRight
align-top-center		-->		alignTopCenter		
align-top-left			-->		alignTopLeft		
align-bottom-right	-->		alignBottomRight	
align-bottom-center	-->		alignBottomCenter		
align-bottom-left		-->		alignBottomLeft	

colour-black				-->		black
colour-white				-->		white
colour-red					-->		red
colour-blue					-->		blue
colour-green				-->		green
colour-yellow				-->		deepyellow
colour-grey					-->		grey
colour-orange				-->		orange
colour-subject			-->		subjectColour
colour-subject2			-->		subjectDarkColour

bg-black					-->		blackBG
bg-white					-->		whiteBG
bg-red						-->		redBG
bg-red-dark				-->		darkredBG
bg-blue 					-->		blueBG
bg-green					-->		greenBG

bg-subject				-->		subjectBG	
bg-subject-dark	-->		darksubjectBG
bg-subject2			-->		darksubjectBG
bg-subject-light	-->		lightsubjectBG
bg-grey					-->		greyBG
bg-grey-dark			-->		darkgreyBG
bg-grey-light		-->		lightgreyBG
bg-yellow				-->		yellowBG
bg-yellow-light	-->		lightyellowBG

border-subject	-->		borderSubject
border-solid		-->		borderSolid
border-dashed		-->	borderDashed
*/