/* CLF 2.0 TEMPLATE VERSION 1.04 | VERSION 1.04 DU GABARIT NSI 2.0 */

/* GENERAL CSS BEGINS | DEBUT DU CSS GENERAL */

/* GENERAL CSS ENDS | FIN DU CSS GENERAL */

/* MESSAGE SPACE CSS BEGINS | DEBUT DU CSS DE L'ESPACE DE MESSAGE */
div.msgarea h1, div.msgareaalt h1 {
	text-align: center;
	color: #FFF;
	font-weight: bold;
}
div.msgarea {
	background: url(/images/templates/wp-pa.jpg) #663366 no-repeat;
}
div.msgareaalt {
	background: url(/images/templates/wp-pa-alt.jpg) #69C no-repeat;
}
.msgarea h1 {
	padding-top: 15px;
}
div.msgareaalt h1 {
	padding-top: 15px;
}
div.headcontainer {
	background-color: #CC9;
	color: #000;
}
/* MESSAGE SPACE CSS ENDS | FIN DU CSS DE L'ESPACE DE MESSAGE */
